<!DOCTYPE html>
<html lang="en"  data-ng-app="MyModule">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="Css/home_page.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>

<body>
<img src="kc16.jpg" id="bg" alt="">


<!-- Page Content -->
<div class="container" ng-controller="MyController">
    <div class="row">

        <div class="col-md-3">
            <br><br><br>
            <h4 style="color: crimson"><strong>Locate your interest</strong></h4>
            <input id="query" type="search" style="width: auto" placeholder="Enter your interest here" ng-model="query"> <br><br>
            <center><input type="button" value="Search" ng-click="retrieveData()"></center><br><br><br>
                      </div>

        <div class="col-md-9">
            <br><br><br>
            <div id="results" class="row" style="visibility: hidden">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap" style="color: darkviolet"><strong>{{name0}}</strong></h5>
                            <p><b>Address: </b>{{address0}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>Contact: </b>{{contact0}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap" style="color: darkviolet"><strong>{{name1}}</strong></h5>
                            <p><b>Address: </b>{{address1}}</p> </div>
                        <div class="ratings">
                            <p class="pull-right"><b>Contact: </b>{{contact1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap"style="color:darkviolet"><strong>{{name2}}</strong></h5>
                            <p><b>Address: </b>{{address2}}</p></div>
                        <div class="ratings">
                            <p class="pull-right"><b>Contact: </b>{{contact2}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
<script src="js/HomePage.js" type="application/javascript"></script>
<script src="js/jquery.js" type="application/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


</body>

</html>
